<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
     <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
     <title>GameStream</title>
</head>

<body>
    <div id="topo"></div>
    <header class="header">
        <a href="/">
            <div class="logo">GameStream</div>
        </a>
        <div class="user-menu">
            <a href="/login"><button class="btn">Sing in</button></a>
            <div class="user-menu-content">
                <a href="/cadastro">
                    <div class="channel-item">Sing up</div>
                </a>
            </div>
        </div>
    </header>
    <div id="img"><a href="/"><img width="30px"
                src="static/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt=""></a></div>
    
    <div class="fixed"><a href="#topo"><img width="30px" src="static/vertical_align_top_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png"alt=""></a></div>

    <main class="main-content">
        <div class="main">
            <h1>Bem vindo(a)</h1>
            <pre>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid 
            nesciunt voluptate, debitis dolor harum adipisci perspiciatis quisquam 
            necessitatibus inventore ea aut ratione ipsam officiis voluptatem. Accusamus 
            nostrum minus earum.
            Laborum officia quo saepe distinctio atque at blanditiis sint, repudiandae 
            maxime debitis provident ullam, iusto magni dignissimos delectus non voluptatem 
            molestias excepturi nesciunt aliquid alias. Similique placeat eligendi debitis laudantium?
            Necessitatibus ad quibusdam aspernatur velit, nihil fugit nam quis explicabo 
            nesciunt porro quam maxime vitae iure debitis sequi dolore accusantium ratione 
            pariatur hic magnam accusamus temporibus molestias. Similique, libero necessitatibus.
            Voluptate, obcaecati tempora. Omnis, aliquid culpa id eos ea repellendus consectetur 
            libero perferendis perspiciatis provident inventore necessitatibus? Sed cum accusantium, 
            recusandae fuga quia laudantium accusamus earum sit magni, veritatis veniam!
            Dicta minima explicabo tenetur sequi necessitatibus nesciunt! Voluptatum illum aut sunt 
            voluptate minus! Quod voluptas, ut dolorem aperiam consequatur magnam fugit dolore quam. 
            Fugit ad, delectus doloribus nobis placeat quisquam.
        </pre>
            <pre>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid 
            nesciunt voluptate, debitis dolor harum adipisci perspiciatis quisquam 
            necessitatibus inventore ea aut ratione ipsam officiis voluptatem. Accusamus 
            nostrum minus earum.
            Laborum officia quo saepe distinctio atque at blanditiis sint, repudiandae 
            maxime debitis provident ullam, iusto magni dignissimos delectus non voluptatem 
            molestias excepturi nesciunt aliquid alias. Similique placeat eligendi debitis laudantium?
            Necessitatibus ad quibusdam aspernatur velit, nihil fugit nam quis explicabo 
            nesciunt porro quam maxime vitae iure debitis sequi dolore accusantium ratione 
            pariatur hic magnam accusamus temporibus molestias. Similique, libero necessitatibus.
            Voluptate, obcaecati tempora. Omnis, aliquid culpa id eos ea repellendus consectetur 
            libero perferendis perspiciatis provident inventore necessitatibus? Sed cum accusantium, 
            recusandae fuga quia laudantium accusamus earum sit magni, veritatis veniam!
            Dicta minima explicabo tenetur sequi necessitatibus nesciunt! Voluptatum illum aut sunt 
            voluptate minus! Quod voluptas, ut dolorem aperiam consequatur magnam fugit dolore quam. 
            Fugit ad, delectus doloribus nobis placeat quisquam.
        </pre>
            <pre>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid 
            nesciunt voluptate, debitis dolor harum adipisci perspiciatis quisquam 
            necessitatibus inventore ea aut ratione ipsam officiis voluptatem. Accusamus 
            nostrum minus earum.
            Laborum officia quo saepe distinctio atque at blanditiis sint, repudiandae 
            maxime debitis provident ullam, iusto magni dignissimos delectus non voluptatem 
            molestias excepturi nesciunt aliquid alias. Similique placeat eligendi debitis laudantium?
            Necessitatibus ad quibusdam aspernatur velit, nihil fugit nam quis explicabo 
            nesciunt porro quam maxime vitae iure debitis sequi dolore accusantium ratione 
            pariatur hic magnam accusamus temporibus molestias. Similique, libero necessitatibus.
            Voluptate, obcaecati tempora. Omnis, aliquid culpa id eos ea repellendus consectetur 
            libero perferendis perspiciatis provident inventore necessitatibus? Sed cum accusantium, 
            recusandae fuga quia laudantium accusamus earum sit magni, veritatis veniam!
            Dicta minima explicabo tenetur sequi necessitatibus nesciunt! Voluptatum illum aut sunt 
            voluptate minus! Quod voluptas, ut dolorem aperiam consequatur magnam fugit dolore quam. 
            Fugit ad, delectus doloribus nobis placeat quisquam.
        </pre>
        </div>
    </main>

    <footer>
        <p class="footer">
            &copy; 2024 - GameStream
        </p>
     </footer>
</body>

</html>