<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Número</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I-2H1Re-tKI?si=5PP3djdF82aZ6i_d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h1>Número Atual: <span id="num">0</span></h1>
    <button id="add-btn">Adicionar</button>

    <script src="/static/script.js"></script>
</body>
</html>
